@media only screen and (max-width: 1400px) {
  #root {
    width: 100vw;
    height: 100vh;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }

  h1 {
    margin: 0 auto;
    text-align: center;
    height: 100px;
  }

  .title {
    font-size: 35px;
    color: rgb(255, 108, 108);
  }

  .articles-container {
    display: flex;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    height: 25%;
    width: 100%;
  }

  .articles {
    width: 100%;
  }

  .article {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
  }

  .articles img {
    width: 100%;
  }

  .votes-container img {
    width: 40px;
    margin: 0 auto;
  }

  .vote {
    padding: 0 5px 0 0;
  }

  .clicked-vote {
    border: solid black;
    border-radius: 25%;
  }

  .unclicked-profile {
    width: 50px;
    position: absolute;
    top: 100px;
    right: 10%;
    border-radius: 50%;
  }

  .clicked-profile {
    background-color: rgb(255, 228, 231);
    border-radius: 10%;
    position: absolute;
    width: 66.66666%;
    right: 0;
    top: 100px;
    text-align: center;
  }

  .clicked-profile img {
    position: absolute;
    width: 50px;
    right: 10%;
  }

  .login-form {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 228, 231);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2.5px 5px;
  }

  .login-form button {
    background-color: rgba(0, 255, 255, 0.179);
  }

  .topics-container {
    width: 100%;
    display: inline;
  }

  .topics {
    display: inline;
    width: 100%;
    position: relative;
    left: 5%;
    margin: 0;
  }

  .topics-select {
    position: relative;
    display: inline;
    left: 10%;
  }

  .sort_by {
    height: 20px;
    margin: auto 0;
  }
}

@media only screen and (min-width: 1400px) {
  #root {
    width: 66.66666666%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
  }

  h1 {
    margin: 0 auto;
    text-align: center;
    height: 200px;
  }

  .title {
    font-size: 100px;
    color: rgb(255, 108, 108);
  }

  .articles-container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin: 50px;
  }

  .articles {
    width: 100%;
  }

  .article {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
  }

  .articles img {
    width: 100%;
  }

  .votes-container img {
    width: 40px;
    margin: 0 auto;
  }

  .vote {
    padding: 0 5px 0 0;
  }

  .clicked-vote {
    border: solid black;
    border-radius: 25%;
  }

  .unclicked-profile {
    width: 50px;
    position: absolute;
    top: 100px;
    right: 10%;
    border-radius: 50%;
  }

  .clicked-profile {
    background-color: rgb(255, 228, 231);
    border-radius: 10%;
    position: absolute;
    width: 66.66666%;
    right: 0;
    top: 100px;
    text-align: center;
  }

  .clicked-profile img {
    position: absolute;
    width: 50px;
    right: 10%;
  }

  .login-form {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 228, 231);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2.5px 5px;
  }

  .login-form button {
    background-color: rgba(0, 255, 255, 0.179);
  }

  .topics-container {
    width: 100%;
    display: inline;
  }

  .topics {
    display: inline;
    width: 100%;
    position: relative;
    left: 5%;
    margin: 0;
  }

  .topics-select {
    position: relative;
    display: inline;
    left: 10%;
  }

  .sort_by {
    height: 20px;
    margin: auto 0;
  }
}