#root {
  width: 66.6666%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  width: 66.6666%;
  margin: auto;
  text-align: center;
}

.articles-container {
  display: flex;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.articles {
  width: 100%;
}

.article {
  background-color: rgb(249, 222, 222);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.articles img {
  width: 100%;
}